<div class="container-fluid footer bg-dark text-white">
  <div class="container py-2">
    <div class="row justify-content-between text-center text-white">
      <div class="col-md-4">
        <p class="text-info">Creado por {{ autor }} &copy; Todos los derechos reservados</p>
      </div>

      <div class="col-md-4 text-md-right m-auto">
        <div class="h3">
          <i class="fab fa-facebook-f mr-2"></i>
          <i class="fab fa-facebook-f mr-2"></i>
          <i class="fab fa-facebook-f mr-2"></i>
        </div>
      </div>
    </div>
  </div>
</div>
