<div class="row">
  <div class="my-4">
    <button [routerLink]="['/deudores/form']" class="btn btn-outline-info"><i class="fas fa-file-invoice-dollar"></i>
      Nuevo Deudor</button>
  </div>
</div>

<!-- Mustra alerta si no hay deudores -->
<div *ngIf="deudores?.length==0" class="alert alert-info">
  No hay registros en la base de datos
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre:</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Deuda</th>
      <th rowspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deudor of deudores">
      <td> {{ deudor.id }} </td>
      <td> {{ deudor.nombre }} </td>
      <td> {{ deudor.apellido }} </td>
      <td> {{ deudor.email }} </td>
      <td> {{ deudor.direccion }} </td>
      <td> {{ deudor.telefono }} </td>
      <td> {{ deudor.deuda }} </td>
      <td colspan="2">
        <button type="button" class="btn btn-info mr-2" [routerLink]="['/deudores/form', deudor.id]">
          <i class="fas fa-pencil-alt"></i> Editar</button>
        <button type="button" class="btn btn-danger" (click)="delete(deudor)">
          <i class="fas fa-trash-alt"></i> Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
