<div class="card">
  <div class="card-header"> {{ titulo }} </div>
  <div class="card-body">

    <form>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre"
          [(ngModel)]="deudor.nombre">
      </div>

      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido"
          [(ngModel)]="deudor.apellido">
      </div>

      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="email" class="form-control" id="Email" name="Email" placeholder="correo@dominio.com"
          [(ngModel)]="deudor.email">
      </div>

      <div class="form-group">
        <label for="direccion">Direccion:</label>
        <input type="text" class="form-control" id="direccion" name="direccion"
          placeholder="Av Siempre viva 785, col Pasas" [(ngModel)]="deudor.direccion">
      </div>

      <div class="form-group">
        <label for="tel">Teléfono:</label>
        <input type="tel" class="form-control" id="tel" name="tel" placeholder="(052)55 5538-9050"
          [(ngModel)]="deudor.telefono">
      </div>

      <div class="form-group">
        <label for="deuda">Deuda:</label>
        <input type="number" class="form-control" id="deuda" name="deuda" placeholder="855.93"
          [(ngModel)]="deudor.deuda">
      </div>

      <button type="submit" class="btn btn-primary" (click)="create()" *ngIf="!deudor.id else elseBlock"><i
          class="far fa-save"></i> Crear</button>
      <ng-template #elseBlock>
        <button type="submit" class="btn btn-primary" (click)="update()"> <i class="far fa-save"></i>
          Actualizar</button>
      </ng-template>

      <button type="submit" class="btn btn-danger ml-2" [routerLink]="['/deudores']"><i class="far fa-window-close"></i>
        Cancel</button>

    </form>
  </div>
</div>
