/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
}
